/* 全体 */
body {
    background-color: #EEDEC8;
    margin: 0;
    font-family: "Noto Sans JP";
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

/* header */
header {
    width: 100%;
    height: 62px;
    background-color: #ffffff;
    display: flex;   
    justify-content: space-between; 
    align-items: center;  
    padding: 0 20px;  
    box-sizing: border-box;
}

.header-inner {
  width: 100%;
  max-width: 1300px;    
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 80px;       
  box-sizing: border-box;
}

.logo {
    background-color: #DBA67A;
    color: #ffffff;             
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 8px;
}

.icon-btn {
    background: none;         
    border: none;             
    margin-left: 5px;  
    cursor: pointer; 
    font-size: 1.5rem;     
    color: #333;
}

nav a {
    margin-left: 20px;
    background-color: #7A5542;
    color: #ffffff;             
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 25px;
}

