

/* 記事情報 */
.main-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.article-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 150px;  /* ← これで完全に揃う！ */
    box-sizing: border-box;
}

.article-left {
    width: 50%;
    height: 100%;          /* ← カード高さと揃える */
    overflow: hidden;
    flex-shrink: 0;        /* 画像が潰れない */
}

.article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-right {
    flex: 1;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-right h3 {
    display: block;
    margin-top: 0;
    font-size: 0.9rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
}

.article-right a {
    color: #333;
    text-decoration: none;
}

.tag{
    display: flex;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 6px;
    text-align: center;
    background-color:  #d9d9d9;
    width: 50px;
    height: 17px;
    color: #6d6d6d;
    border-radius: 12px;
    padding-top: 3px;
    margin-right: 8px;
}

.poster-line {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.github-btn {
    color: #000;
    font-size: 1.2rem;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    line-height: 1;
}

/* ページネーション全体の調整 */
.pagination {
    gap: 8px;
    --bs-pagination-padding-x: 10px;
    --bs-pagination-padding-y: 5px;
    --bs-pagination-font-size: 0.9rem;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pagination-area {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination-area nav {
    width: auto !important;
    display: flex !important;
    justify-content: center !important;
    margin: 0 auto !important;
}


/* 通常のページリンク */
.page-link {
    color: #7A5542;
    border-radius: 8px;
}

/* hover */
.page-link:hover {
    color: #5e402f;
    background-color: #f8f6f4;
}

/* アクティブ（今のページ） */
.page-item.active .page-link {
    background-color: #7A5542;
    border-color: #7A5542;
    color: white;
}

.small.text-muted {
    display: none !important;
}



