/* 全体 */
body {
    background-color: #EEDEC8;
    margin: 0;
    font-family: "Noto Sans JP";
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

/* header */
header {
    width: 100%;
    height: 62px;
    background-color: #ffffff;
    display: flex;   
    justify-content: space-between; 
    align-items: center;  
    padding: 0 20px;  
    box-sizing: border-box;
}

.header-inner {
  width: 100%;
  max-width: 1300px;    
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 80px;       
  box-sizing: border-box;
}

.logo {
    background-color: #DBA67A;
    color: #ffffff;             
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 8px;
}

.icon-btn {
    background: none;         
    border: none;             
    margin-left: 5px;  
    cursor: pointer; 
    font-size: 1.5rem;     
}

nav a {
    margin-left: 20px;
    background-color: #7A5542;
    color: #ffffff;             
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 25px;
}

/* qiita連携 */
.btn-qiita {
    display: inline-block;
    margin: 20px;
    background-color: #55C500;
    color: #ffffff;             
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 25px;
}

/* 記事情報 */
.article-card {
    width: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 16px 20px;
    margin: 20px 0;
    display: flex;   
    align-items: flex-start; 
    gap: 20px;   
}

.article-card img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; 
}

.article-info {
    width: 50%;    
}

.article-info h3 {
    margin-top: 0;
    font-size: 1.1rem;
    color: #333;
}

.tag {
    display: inline-block;
    background-color: #EEDEC8;
    color: #333;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9rem;
    margin-right: 5px;
}

.edit-btn {
    background-color: #A1A1A1;
    padding: 4px;
    border-radius: 4px;
}

.edit-btn i {
    color: #fff;
}

.delete-btn {
    background-color: #E03C6A;
    padding: 4px;
    border-radius: 4px;
}

.delete-btn i {
    color: #fff;
}
