body{
    background-color: #EEDEC8;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    margin: 30px;
}

main {
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.articles {
    display: flex;
    flex-wrap: wrap;        /* 横に並べて折り返し */
    justify-content: center; /* 横方向中央寄せ */
    gap: 20px;              /* カード間の間隔 */
    width: 90%;
    max-width: 1000px;
}

.article-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 200px;
}

.tag {
    display: inline-block;
    background-color: #C8DCEE;
    border-radius: 4px;
    padding: 2px 6px;
    margin: 2px;
    font-size: 0.8em;
}
